[submodule "submodules/zfsonlinux"]
	path = src/submodules/zfsonlinux
	url = ../mirror_zfs.git
[submodule "src/submodules/ubuntu-kernel"]
	path = src/submodules/ubuntu-kernel
	url = https://gitee.com/openeuler/kernel
