[submodule "submodules/zfsonlinux"]
	path = src/submodules/zfsonlinux
	url = https://github.com/openzfs/zfs
[submodule "src/submodules/ubuntu-kernel"]
	path = src/submodules/ubuntu-kernel
	url = https://github.com/loongarchlinux/linux
