Source: proxmox-backup-restore-image
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: apt-rdepends,
               asciidoc-base,
               automake,
               bc,
               bison,
               cpio,
               debhelper (>= 12~),
               dh-python,
               flex,
               gcc (>= 8.3.0-6),
               git,
               libblkid-dev,
               libdw-dev,
               libelf-dev,
               libtool,
               lintian,
               perl-modules,
               python3-minimal,
               sed,
               sphinx-common,
               tar,
               xmlto,
               zlib1g-dev,
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: proxmox-backup-restore-image
Architecture: amd64
Recommends: proxmox-backup-file-restore
Description: Kernel/initramfs images for Proxmox Backup single-file restore.
 Preconfigured images used as base for single file restore of Proxmox Backup
 Server snapshots. Not really useful on their own, so best used together with
 the proxmox-backup-file-restore package, which provide the actual tools.

Package: proxmox-backup-restore-image-debug
Architecture: amd64
Depends: proxmox-backup-restore-image
Description: Debug initramfs image for Proxmox Backup single-file restore.
 Not required for production use, only useful for manual inspection of file
 restore VMs. Includes busybox and gdb.
