Source: proxmox-backup-restore-image
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: asciidoc-base,
               automake,
               bc,
               bison,
               cpio,
               debhelper (>= 12~),
               dh-python,
               flex,
               gcc (>= 8.3.0-6),
               git,
               libblkid-dev,
               libdw-dev,
               libelf-dev,
               libtool,
               lintian,
               perl-modules,
               python-minimal,
               sed,
               sphinx-common,
               tar,
               xmlto,
               zlib1g-dev,
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: proxmox-backup-restore-image
Architecture: amd64
Recommends: proxmox-backup-file-restore
Description: Kernel/initramfs images for Proxmox Backup single file restore.
 Preconfigured images used as base for single file restore of PBS backup
 snapshots. Not really useful on their own, so best used together with
 proxmox-file-restore.
